/*
NAVBAR STYLES
---------------------------------------------------*/
.navbar {
  margin-bottom: 0;
}

body {
  background-image: url('http://theme.stepofweb.com/Atropos/v1.2/HTML/assets/images/patterns/pattern9.png');
  background-repeat: repeat;
}

h1,
h2,
h3,
h4 {
  font-family: 'Metrophobic';
}

.navbar-default,
.navbar, 
.navbar a, 
.dropdown-menu>li>a,
.dropdown-header,
.dropdown-menu .divider,
.dropdown-menu,
.footer {
  font-family: 'Noto Sans', sans-serif;
}

.navbar-collapse.in {
  overflow: visible; 
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  -webkit-transition:text-shadow .4s, background-color .4s, color .4s; /* For Safari 3.1 to 6.0 */
  transition:text-shadow .4s, background-color .4s, color .4s;
}

.navbar-nav>li>a:hover {
  text-shadow: 3px 3px 2px rgba(0,0,0,0.6);
}

.navbar-default,
.navbar, 
.navbar a, 
.dropdown-menu>li>a,
.dropdown-header,
.dropdown-menu .divider,
.dropdown-menu,
.footer {
  color:#E2E2E2; 
  background-color: #990000;
  font-weight: bold;
}

.nav>li>a:hover, 
.nav>li>a:focus,
.nav .open>a, .nav .open>a:hover, 
.nav .open>a:focus,
.navbar-toggle:hover,
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus,
.navbar-nav>.active>a {
  background-color: #CC2C2C;
  color: #ffffff;
  background-image: none;
}

.dropdown-header {
background-color: #660000;
}

.nav-logo {
  display: inline-block;
  position: relative;
  top:-15px;
  width: 200px; /* 200px; */
  height: auto; /*70px; */
  margin: 0 10px;
  background-color: #CC2C2C;
  z-index: 3;
  border: 10px solid #ffffff; 
  border-width: 0px 5px 5px 5px;
  background-image: url('../img/pushBC1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-bar {
  background-color: #ffffff;
}

@media (min-width: 992px) {
#sign-in {
  float:right;
  }
}

@media (max-width: 992px) {
  #sign-in {
    float: left;
    width: 100%;
  }
}

.dropdown-login { 
  background-color: #ddd !important;
  border: 1px solid #bbb;
  min-width:280px !important;
  padding:20px;
  color: #777;
  height: 230px;
  }

.dropdown-profile {
  background-color:#ddd !important;
  min-width:320px !important;
  border: 1px solid #bbb;
  padding:20px;
  overflow:hidden;
  left:-198px;
} 

.nav-logo, .navbar {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.8); 
}

/*
MAIN ELEMENT STYLES
---------------------------------------------------*/

body, html {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
}

.breadcrumb {
  width: auto;
  display: inline-block;
  background-color: #EBEBEB;
  margin-left:12px;
}

h1,h2,h3 {
  color: rgb(154, 167, 209);
}

h1 {
  color: rgb(60,60,60);
  font-weight: bold;
  text-align: center;
  font-size: 50px;

}

h2 {
  margin: 30px 0 30px 0; 
  background-color: #EBEBEB;
  padding: 10px;
  border-radius: 0 20px 20px 0;
}

h4 {
  color: rgb(95, 95, 95);
}


.main-content {
  min-height: 100%;
  margin-bottom: 0px;
  padding-top: 30px;
  background-color: #ffffff;
}

.section {
  padding: 20px;
}

.hr-body {
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 1px;
  background-color: #D3D3D3;
  /* background-image: -moz-linear-gradient(right, #999999, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#999999), to(#ffffff));
  background-image: -webkit-linear-gradient(right, #999999, #ffffff);
  background-image: -o-linear-gradient(right, #999999, #ffffff);
  background-image: linear-gradient(to right, #999999, #ffffff); */
}

.jumbotron {
  font-family: 'Metrophobic', sans-serif;
  background-color:rgba(216, 207, 163, 1);
  margin-top:20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row-centered {
  margin: 0 auto;
}

.table-label {
  width: 200px;
}

.text-right {
  text-align: right;
}

.half-transparent {
  opacity: 0.5;
}

.pagination {
  margin-right: 30px;
}

/* BOOTCAMP & REVIEW STYLES
---------------------------------------------------*/
#pager {
  height:50px;
}

.affix-top {
  padding-left: 12px;
}

.affixed-nav {
  display: block;
  z-index: 5000;
  top: 50px;
  right: 2px;
}

.affixed-list {
  text-align: left;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  padding:6px 2px;
  font-size: 13px;
  list-style-type: none;
}

.panel {
  width: 90%;
  margin: 0 auto;
}

.location-table {
  background-color: rgb(202, 209, 154);
}

.info-table {
  background-color: rgba(154, 167, 209, 0.49);
}

.review {
  margin: 20px 0;
  padding: 20px;
  width: 85%;
  background-color: rgba(213, 209, 122, .6);
  border-radius: 5px; 
}

.review h3 {
  font-family: 'Noto Sans', sans-serif;
  color:rgba(31, 117, 184, 0.67);
  margin-top:10px;
  padding-left: 10px;
}

#background, #instruction, #overall {
  height: 200px; 
  width: 100%;
}

#response {
  width: 100%;
  height: 150px;
}

#review_rating {
  width: 115px;
}

.hr-review {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.wordcount {
  margin-bottom: 25px;
  font-style: italic;
}

.review-display {
  background-color: #E9E9E9;
  padding: 30px 50px;
  margin-bottom: 35px;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
}

.review,
.panel, 
.review-display,
.table {
  box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}

.minimized {
  display: none;
}

#review-panel {
  height: 100%;
  margin-top: 20px;
  z-index: 1;
}

#review-header {
  z-index: 2;
}

.dataTables_info {
  width: 70%;
  display: inline-block;
}

.dataTables_length, .dataTables_filter {
  width: 50%;
  display: inline-block;
  margin-bottom: 20px;
}

.dataTables_length, .dataTables_info {
  padding-left: 80px;
}

.dataTables_paginate {
  width: 30%;
  display: inline-block;
  
}

.paginate_disabled_previous, .paginate_disabled_next {
  display: none;
}

.paginate_enabled_previous, .paginate_enabled_next {
  cursor: pointer;
}

.paginate_enabled_previous {
  float: left;
}

.paginate_enabled_next  {
  float: right;
  padding-right: 80px;
}

.paginate_enabled_previous::before {
  content: "<";
}

.paginate_enabled_next::after {
  content: ">";
}


/* FOOTER (STICKY) STYLES
---------------------------------------------------*/

.hr-footer {
  margin: 10px;
  border-top: 1px solid #CCCCCC;
}

/*
@media (max-width: 767px) {
  .main-content {
  margin-bottom: 351px;
  }
}

@media (min-width: 768px) {
  .main-content {
  margin-bottom: 181px;
  }
}
*/

.footer {
  display: block;
  background-color: #3D3737;
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;
}

#social {
  width: 100%;
}

.footer-nav {
  margin: 0 auto;
  padding: 10px 0px;
  width: 70%;
}

.footer-nav>li {
  display: inline-block;
  padding: 0px 15px;
}

.footer-nav>li>a>button {
  width: 39px;
}

.footer-nav>div {
  padding: 5px 0px;
}

.footer-brand {
  float: right;
  font-size: 11px;'
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

.footer-brand::before {
  content: "\00a9"
}